{
  "project_info": {
    "project_number": "VUL_HIER_FIREBASE_PROJECT_NUMBER_IN",
    "project_id": "cuddling-memories-admin",
    "storage_bucket": "cuddling-memories-admin.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "VUL_HIER_FIREBASE_ANDROID_APP_ID_IN",
        "android_client_info": {
          "package_name": "nl.cuddlingmemories.admin"
        }
      },
      "api_key": [
        {
          "current_key": "VUL_HIER_FIREBASE_WEB_API_KEY_IN"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
